body {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #1b1b1b;
}

.close-door {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 5;
}

.close-door.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wrap {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.wrap .back {
  position: fixed;
  top: 0;
  left: 20px;
  color: #fff;
  font-size: 1.2vw;
  cursor: pointer;
  z-index: 4;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.contents {
  width: 50%;
  height: 200vh;
  position: absolute;
  top: 0;
  right: 0;
  background: #1b1b1b;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;
}

.content h1 {
  position: absolute;
  left: 5%;
  color: #fff;
  font-size: 3vw;
  margin: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.content h1:nth-of-type(1) {
  top: 14%;
}

.content h1:nth-of-type(2) {
  top: 17%;
}

.content h1:nth-of-type(3) {
  top: 20%;
}

.content h1.active {
  opacity: 1;
}

.content h1:nth-of-type(1).active {
  top: 8%;
}

.content h1:nth-of-type(2).active {
  top: 13%;
}

.content h1:nth-of-type(3).active {
  top: 18%;
}

.content article {
  position: absolute;
  top: 26%;
  left: 5%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.content article p {
  width: 90%;
  color: #fff;
  font-size: 1.4vw;
}

.scroll {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.scroll p {
  position: absolute;
  top: 94vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-size: 1vw;
}

.scroll .scroll_icon {
  display: block;
  position: absolute;
  top: 90vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2.6vw;
  width: 1.6vw;
  border: .2vw solid #fff;
  border-radius: 1vw;
}

.scroll .scroll_icon .scroll_icon_dot {
  display: block;
  position: absolute;
  left: 34%;
  background: #fff;
  height: .4rem;
  width: .4rem;
  top: .5rem;
  border-radius: 50%;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: scroll 2s ease-out infinite;
          animation: scroll 2s ease-out infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0.75rem);
            transform: translateY(0.75rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0.75rem);
            transform: translateY(0.75rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
}

.skills {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.skills .box {
  width: 90%;
  margin: 0 auto;
}

.skills .box h2 {
  color: #fff;
  font-size: 1.4vw;
}

.skills ul {
  width: 44%;
  display: inline-block;
}

.skills ul li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills ul li:last-child {
  width: 100%;
  margin: 0 auto;
}

.skills ul li {
  list-style: none;
}

.skills ul li h3 {
  color: #fff;
  font-size: 1.2vw;
}

.skills ul li div {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills ul li span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #a6937c;
}

.skills ul li p {
  color: #fff;
  font-size: 1vw;
}

.skills ul:nth-of-type(3) span:last-child,
.skills ul:nth-of-type(4) span:last-child {
  background: #1b1b1b;
  border: 1px solid #a6937c;
  width: 7px;
  height: 7px;
}

.skills ul:nth-of-type(5) span:nth-of-type(4),
.skills ul:nth-of-type(5) span:nth-of-type(5),
.skills ul:nth-of-type(6) span:nth-of-type(4),
.skills ul:nth-of-type(6) span:nth-of-type(5) {
  background: #1b1b1b;
  border: 1px solid #a6937c;
  width: 7px;
  height: 7px;
}

.skills.active {
  opacity: 1;
  top: 56%;
}

.fix {
  width: 50%;
  height: 100vh;
  background: #a6937c;
  position: fixed;
  top: 0;
  top: 0;
  z-index: 2;
}

.info {
  padding-top: 10%;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.info .img-wrap {
  width: 20%;
  margin: 0 auto;
}

.info .img-wrap img {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.info .name {
  padding-top: 4%;
}

.info .name p {
  margin: 0;
  font-size: 1.2vw;
  text-align: center;
  font-weight: bold;
}

.info .contact {
  padding-top: 4%;
  width: 28%;
  margin: 0 auto;
}

.info .contact li {
  list-style: none;
}

.info .contact li strong {
  font-size: 1vw;
  padding-right: 10px;
}

.info .edu_career {
  padding-top: 10%;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info .edu_career table {
  padding-bottom: 2%;
}

.info .edu_career table caption {
  text-align: left;
  font-size: 1.1vw;
  font-weight: bold;
  padding-bottom: 4%;
}

.info .edu_career table tr td:first-child {
  padding-right: 10%;
}

.info .edu_career table:first-child {
  width: 46%;
  border-right: 2px dashed #1b1b1b;
  padding-right: 3%;
}

.info .edu_career table:last-child {
  width: 50%;
}

.info .experience {
  width: 90%;
  margin: 0 auto;
  margin-top: 4%;
  padding-top: 4%;
  border-top: 2px dashed #1b1b1b;
}

.info .experience caption {
  text-align: left;
  font-size: 1.1vw;
  font-weight: bold;
  padding-bottom: 8%;
}

.info .experience tr td:first-child {
  padding-right: 10px;
}

@media (max-width: 1440px) {
  .contents {
    width: 50%;
    height: 200vh;
    position: absolute;
    top: 0;
    right: 0;
    background: #1b1b1b;
    z-index: 1;
  }
  .content {
    width: 100%;
    height: 100%;
  }
  .content h1 {
    position: absolute;
    left: 5%;
    color: #fff;
    font-size: 3vw;
    margin: 0;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .content h1:nth-of-type(1) {
    top: 10%;
  }
  .content h1:nth-of-type(2) {
    top: 14%;
  }
  .content h1:nth-of-type(3) {
    top: 18%;
  }
  .content h1.active {
    opacity: 1;
  }
  .content h1:nth-of-type(1).active {
    top: 6%;
  }
  .content h1:nth-of-type(2).active {
    top: 10%;
  }
  .content h1:nth-of-type(3).active {
    top: 14%;
  }
  .content article {
    position: absolute;
    top: 22%;
    left: 5%;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .content article p {
    width: 90%;
    color: #fff;
    font-size: 1.2vw;
  }
  .scroll {
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .scroll p {
    position: absolute;
    top: 94vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #fff;
    font-size: 1vw;
  }
  .scroll .scroll_icon {
    display: block;
    position: absolute;
    top: 90vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 2.6vw;
    width: 1.6vw;
    border: .2vw solid #fff;
    border-radius: 1vw;
  }
  .scroll .scroll_icon .scroll_icon_dot {
    display: block;
    position: absolute;
    left: 34%;
    background: #fff;
    height: .4rem;
    width: .4rem;
    top: .5rem;
    border-radius: 50%;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-animation: scroll 2s ease-out infinite;
            animation: scroll 2s ease-out infinite;
  }
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      -webkit-transform: translateY(0.75rem);
              transform: translateY(0.75rem);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      -webkit-transform: translateY(0.75rem);
              transform: translateY(0.75rem);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
  }
  .skills {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .skills .box {
    width: 90%;
    margin: 0 auto;
  }
  .skills .box h2 {
    color: #fff;
    font-size: 1.4vw;
  }
  .skills ul {
    width: 42%;
    display: inline-block;
  }
  .skills ul li:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills ul li:last-child {
    width: 100%;
    margin: 0 auto;
  }
  .skills ul li {
    list-style: none;
  }
  .skills ul li h3 {
    color: #fff;
    font-size: 1.2vw;
  }
  .skills ul li div {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills ul li span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #a6937c;
  }
  .skills ul li p {
    color: #fff;
    font-size: 1vw;
  }
  .skills ul:nth-of-type(3) span:last-child,
  .skills ul:nth-of-type(4) span:last-child {
    background: #1b1b1b;
    border: 1px solid #a6937c;
    width: 7px;
    height: 7px;
  }
  .skills ul:nth-of-type(5) span:nth-of-type(4),
  .skills ul:nth-of-type(5) span:nth-of-type(5),
  .skills ul:nth-of-type(6) span:nth-of-type(4),
  .skills ul:nth-of-type(6) span:nth-of-type(5) {
    background: #1b1b1b;
    border: 1px solid #a6937c;
    width: 7px;
    height: 7px;
  }
  .skills.active {
    opacity: 1;
    top: 56%;
  }
  .fix {
    width: 50%;
    height: 100vh;
    background: #a6937c;
    position: fixed;
    top: 0;
    top: 0;
    z-index: 2;
  }
  .info {
    padding-top: 8%;
    opacity: 0;
    -webkit-transition: 2s;
    transition: 2s;
  }
  .info .img-wrap {
    width: 20%;
    margin: 0 auto;
  }
  .info .img-wrap img {
    width: 100%;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  }
  .info .name {
    padding-top: 2%;
  }
  .info .name p {
    margin: 0;
    font-size: 1.2vw;
    text-align: center;
    font-weight: bold;
  }
  .info .contact {
    padding-top: 2%;
    width: 28%;
    margin: 0 auto;
  }
  .info .contact li {
    list-style: none;
  }
  .info .contact li strong {
    font-size: 1vw;
    padding-right: 10px;
  }
  .info .edu_career {
    padding-top: 8%;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .info .edu_career table {
    padding-bottom: 2%;
  }
  .info .edu_career table caption {
    text-align: left;
    font-size: 1.1vw;
    font-weight: bold;
    padding-bottom: 4%;
  }
  .info .edu_career table tr td:first-child {
    padding-right: 10%;
  }
  .info .edu_career table:first-child {
    width: 46%;
    border-right: 2px dashed #1b1b1b;
    padding-right: 3%;
  }
  .info .edu_career table:last-child {
    width: 50%;
  }
  .info .experience {
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
    padding-top: 3%;
    border-top: 2px dashed #1b1b1b;
  }
  .info .experience caption {
    text-align: left;
    font-size: 1.1vw;
    font-weight: bold;
    padding-bottom: 8%;
  }
  .info .experience tr td:first-child {
    padding-right: 10px;
  }
}
/*# sourceMappingURL=about.css.map */