body {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #1b1b1b;
}

.close-door {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 5;
}

.close-door.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wrap {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.wrap .back {
  position: fixed;
  top: 0;
  left: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 4;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.contents {
  width: 50%;
  height: 3000px;
  position: absolute;
  top: 0;
  right: 0;
  background: #1b1b1b;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;
}

.content h1 {
  position: absolute;
  left: 1%;
  color: #fff;
  font-size: 4rem;
  margin: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.content h1:nth-of-type(1) {
  top: 14%;
}

.content h1:nth-of-type(2) {
  top: 17%;
}

.content h1:nth-of-type(3) {
  top: 20%;
}

.content h1.active {
  opacity: 1;
}

.content h1:nth-of-type(1).active {
  top: 12%;
}

.content h1:nth-of-type(2).active {
  top: 15%;
}

.content h1:nth-of-type(3).active {
  top: 18%;
}

.skills {
  position: absolute;
  top: 26%;
  left: 1%;
}

.skills h3 {
  color: #fff;
}

.fix {
  width: 50%;
  height: 100vh;
  background: #a6937c;
  position: fixed;
  top: 0;
  top: 0;
  z-index: 2;
}

.info {
  padding-top: 6%;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.info .img-wrap {
  width: 20%;
  margin: 0 auto;
}

.info .img-wrap img {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.info .name {
  padding-top: 2%;
}

.info .name p {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.info .contact {
  padding-top: 2%;
  width: 28%;
  margin: 0 auto;
}

.info .contact li {
  list-style: none;
}

.info .contact li strong {
  font-size: 1.1rem;
  padding-right: 10px;
}

.info .edu_career {
  padding-top: 8%;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info .edu_career table {
  padding-bottom: 2%;
}

.info .edu_career table caption {
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.info .edu_career table tr td:first-child {
  padding-right: 10px;
}

.info .edu_career table:first-child {
  width: 46%;
  border-right: 2px dashed #1b1b1b;
  padding-right: 3%;
}

.info .edu_career table:last-child {
  width: 50%;
}

.info .experience {
  width: 90%;
  margin: 0 auto;
  margin-top: 1%;
  padding-top: 2%;
  border-top: 2px dashed #1b1b1b;
}

.info .experience caption {
  text-align: left;
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.info .experience tr td:first-child {
  padding-right: 10px;
}
/*# sourceMappingURL=about.css.map */