body {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #1b1b1b;
}

.close-door {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  transform: translateX(-100%);
  transition: .5s;
  z-index: 5;
}

.close-door.active {
  transform: translateX(0);
}

.wrap {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: .8s;

  .back {
    position: fixed;
    top: 0;
    left: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 4;
    opacity: 0;
    transition: 1s;
  }
}

.contents {
  width: 50%;
  height: 3000px;
  position: absolute;
  top: 0;
  right: 0;
  background: #1b1b1b;
  z-index: 1;
}

.content {
  width: 100%;
  height: 100%;

  h1 {
    position: absolute;
    left: 5%;
    color: #fff;
    font-size: 4rem;
    margin: 0;
    opacity: 0;
    transition: 1s;
  }

  h1:nth-of-type(1) {
    top: 14%;
  }

  h1:nth-of-type(2) {
    top: 17%;
  }

  h1:nth-of-type(3) {
    top: 20%;
  }

  h1:nth-of-type(4) {
    font-size: 1.8rem;
    top: 30%;
    left: 6%;
  }

  // h1 active
  h1.active {
    opacity: 1;
  }

  h1:nth-of-type(1).active {
    top: 12%;
  }

  h1:nth-of-type(2).active {
    top: 15%;
  }

  h1:nth-of-type(3).active {
    top: 18%;
  }

  h1:nth-of-type(4).active {
    top: 26%;
  }
}

.skills {
  position: absolute;
  top: 34%;
  left: 0;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  opacity: 0;
  transition: 1s;

  ul{
    width: 90%;
    margin: 0 auto;

    li{
      list-style: none;
      width: 48%;
      display: inline-block;
      dt{
        width: 58%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      h3{
        color: #fff;
        font-weight: 300;
      }
      div{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      span{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #a6937c;
      }
    }
  }
}

.skills.active{
  opacity: 1;
  top: 30%;
}




.fix {
  width: 50%;
  height: 100vh;
  background: #a6937c;
  position: fixed;
  top: 0;
  top: 0;
  z-index: 2;
}

.info {
  padding-top: 6%;
  opacity: 0;
  transition: 2s;

  .img-wrap {
    width: 20%;
    margin: 0 auto;

    img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    }
  }

  .name {
    padding-top: 2%;

    p {
      margin: 0;
      font-size: 1.2rem;
      text-align: center;
      font-weight: bold;
    }
  }

  .contact {
    padding-top: 2%;
    width: 28%;
    margin: 0 auto;

    li {
      list-style: none;

      strong {
        font-size: 1.1rem;
        padding-right: 10px;
      }
    }
  }

  .edu_career {
    padding-top: 8%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    table {
      padding-bottom: 2%;

      caption {
        text-align: left;
        font-size: 1.1rem;
        font-weight: bold;
        padding-bottom: 20px;
      }

      tr {
        td:first-child {
          padding-right: 10px;
        }
      }
    }

    table:first-child {
      width: 46%;
      border-right: 2px dashed #1b1b1b;
      padding-right: 3%;
    }

    table:last-child {
      width: 50%;
    }
  }

  .experience {
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    padding-top: 2%;
    border-top: 2px dashed #1b1b1b;

    caption {
      text-align: left;
      font-size: 1.1rem;
      font-weight: bold;
      padding-bottom: 20px;
    }

    tr {
      td:first-child {
        padding-right: 10px;
      }
    }
  }
}