body {
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}

.close-door {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: #000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.close-door.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
  background: #1b1b1b;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.about.active {
  -webkit-transform: translateX(99%);
          transform: translateX(99%);
}

.about.fullPage {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.back {
  position: fixed;
  top: 0;
  left: 20px;
  cursor: pointer;
  z-index: 4;
}

.about-btn {
  position: fixed;
  top: 0;
  right: 20px;
  cursor: pointer;
  z-index: 4;
}

.header {
  width: 100%;
  height: 100%;
  background: #f54c4c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header h1 {
  position: absolute;
  top: 90%;
  left: 5.5%;
  font-size: 10rem;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.header .img-wrap {
  width: 700px;
  margin: 0 auto;
}

.header img {
  width: 100%;
  height: 470px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-top: 25.5%;
}

.contents {
  width: 100%;
  height: 3600px;
  position: absolute;
  left: 0;
  bottom: -3600px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.contents .content {
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
}

.contents .content .about-project p:first-child {
  font-weight: bold;
  font-size: 1rem;
}

.contents .content .about-project h1 {
  font-size: 4rem;
}

.contents .content .about-project p {
  font-size: 1.3rem;
  font-weight: 300;
  white-space: pre-line;
}

.contents .content .about-project a {
  display: block;
  text-decoration: none;
  color: #000;
}

.contents .content .gif {
  width: 100%;
  display: block;
  padding-top: 200px;
}

.contents .content .gif p {
  font-size: 1rem;
  font-weight: bold;
}

.contents .content .gif img {
  width: 100%;
}

.contents .info {
  position: absolute;
  top: 420px;
  right: 20%;
}

.contents .info ul {
  font-size: 1rem;
}

.contents .info ul li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 300;
}

.contents .info ul li:first-child {
  padding-top: 30px;
}

.contents .visual {
  margin-top: 200px;
}

.contents .visual h1 {
  font-size: 4rem;
}

.contents .visual p {
  font-weight: 300;
  font-size: 1.3rem;
}

.contents .visual p:nth-of-type(2) {
  padding-top: 100px;
  font-weight: bold;
  font-size: 1rem;
}

.contents .visual h2 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 5rem;
  white-space: pre-line;
  padding-top: 20px;
  margin: 0;
}

.contents .visual ul {
  position: absolute;
  bottom: 27%;
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents .visual ul > p {
  font-weight: bold;
  font-size: 1rem;
}

.contents .visual ul li {
  list-style: none;
  width: 500px;
  height: 60px;
  border-radius: 10px;
}

.contents .visual ul li > p {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  padding-left: 20px;
}

.contents .visual ul li:nth-of-type(1) {
  margin-top: 50px;
  border: 1px solid #ddd;
}

.contents .visual ul li:nth-of-type(1) > p {
  color: #000;
}

.contents .visual ul li:nth-of-type(2) {
  margin-top: 10px;
  border: 1px solid #1b1b1b;
  background: #1b1b1b;
}

.contents .visual ul li:nth-of-type(3) {
  margin-top: 10px;
  border: 1px solid #000;
  background: #000;
}

.contents .visual ul li:nth-of-type(4) {
  margin-top: 10px;
  border: 1px solid #00409A;
  background: #00409A;
}

.contents .visual ul li:nth-of-type(5) {
  margin-top: 10px;
  border: 1px solid #F9BE00;
  background: #F9BE00;
}

.contents .mobile {
  padding-top: 200px;
  display: inline-block;
}

.contents .mobile p {
  font-weight: bold;
  font-size: 1rem;
}

.contents .mobile .mobile-gif {
  padding-top: 50px;
  width: 400px;
}

.contents .mobile .mobile-gif img {
  width: 100%;
  height: 700px;
  border-radius: 30px;
}

.footer {
  width: 100%;
  height: 1000px;
  position: fixed;
  left: 0;
  bottom: -1000px;
  background: #4c73f5;
  z-index: -1;
}

.footer .img-wrap {
  width: 700px;
  margin: 30% auto 0 auto;
}

.footer .img-wrap img {
  width: 100%;
  height: 470px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

.footer span {
  position: absolute;
  bottom: 10%;
  left: 45%;
}

.footer span a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  body {
    width: 100%;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .close-door {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: #000;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .close-door.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .about {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s;
    background: #1b1b1b;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .about.active {
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  .about.fullPage {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .back {
    position: fixed;
    top: 0;
    left: 20px;
    cursor: pointer;
    z-index: 4;
  }
  .about-btn {
    position: fixed;
    top: 0;
    right: 20px;
    cursor: pointer;
    z-index: 4;
  }
  .header {
    width: 100%;
    height: 100vh;
    background: #f54c4c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .header h1 {
    margin: 0;
    position: absolute;
    top: 42%;
    left: 13%;
    font-size: 10rem;
    z-index: 1;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header .img-wrap {
    width: 800px;
    margin: 20% auto 0 auto;
  }
  .header img {
    width: 100%;
    height: 500px;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-top: 0;
  }
  .header span {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 6%;
    left: 46%;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header span img {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 28%;
  }
  .contents {
    width: 100%;
    height: 3600px;
    position: absolute;
    left: 0;
    bottom: -3600px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  }
  .contents .content {
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
  }
  .contents .content .about-project p:first-child {
    font-weight: bold;
    font-size: 1rem;
  }
  .contents .content .about-project h1 {
    font-size: 3rem;
  }
  .contents .content .about-project p {
    font-size: 1.1rem;
    font-weight: 300;
    white-space: pre-line;
  }
  .contents .content .about-project a {
    display: block;
    text-decoration: none;
    color: #000;
  }
  .contents .content .gif {
    width: 100%;
    display: block;
    padding-top: 200px;
  }
  .contents .content .gif p {
    font-size: 1rem;
    font-weight: bold;
  }
  .contents .content .gif img {
    width: 100%;
  }
  .contents .info {
    position: absolute;
    top: 390px;
    right: 10%;
  }
  .contents .info ul {
    font-size: 1rem;
  }
  .contents .info ul li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .contents .info ul li:first-child {
    padding-top: 30px;
  }
  .contents .visual {
    margin-top: 200px;
  }
  .contents .visual h1 {
    font-size: 3rem;
  }
  .contents .visual p {
    font-weight: 300;
    font-size: 1.1rem;
  }
  .contents .visual p:nth-of-type(2) {
    padding-top: 50px;
    font-weight: bold;
    font-size: 1rem;
  }
  .contents .visual h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 5rem;
    white-space: pre-line;
    padding-top: 20px;
    margin: 0;
  }
  .contents .visual ul {
    position: static;
    width: 100%;
    padding: 100px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contents .visual ul > p {
    font-weight: bold;
    font-size: 1rem;
  }
  .contents .visual ul li {
    list-style: none;
    width: 100%;
    height: 60px;
    border-radius: 10px;
  }
  .contents .visual ul li > p {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    padding-left: 20px;
  }
  .contents .visual ul li:nth-of-type(1) {
    margin-top: 50px;
    border: 1px solid #ddd;
  }
  .contents .visual ul li:nth-of-type(1) > p {
    color: #000;
  }
  .contents .visual ul li:nth-of-type(2) {
    margin-top: 10px;
    border: 1px solid #1b1b1b;
    background: #1b1b1b;
  }
  .contents .visual ul li:nth-of-type(3) {
    margin-top: 10px;
    border: 1px solid #000;
    background: #000;
  }
  .contents .visual ul li:nth-of-type(4) {
    margin-top: 10px;
    border: 1px solid #00409A;
    background: #00409A;
  }
  .contents .visual ul li:nth-of-type(5) {
    margin-top: 10px;
    border: 1px solid #F9BE00;
    background: #F9BE00;
  }
  .contents .mobile {
    padding-top: 200px;
    display: inline-block;
  }
  .contents .mobile p {
    font-weight: bold;
    font-size: 1rem;
  }
  .contents .mobile .mobile-gif {
    padding-top: 50px;
    width: 400px;
  }
  .contents .mobile .mobile-gif img {
    width: 100%;
    height: 700px;
    border-radius: 30px;
  }
  .footer {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: -100vh;
    background: #4c73f5;
    z-index: -1;
  }
  .footer .img-wrap {
    width: 800px;
    margin: 20% auto 0 auto;
  }
  .footer .img-wrap img {
    width: 100%;
    height: 500px;
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 1;
  }
  .footer h1 {
    margin: 0;
    position: absolute;
    top: 42%;
    left: 16%;
    font-size: 10rem;
    z-index: 1;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .footer span {
    position: absolute;
    bottom: 6%;
    left: 45%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
  }
  .footer span a {
    position: absolute;
    top: 24%;
    left: 10%;
    color: #4c73f5;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=olympus_des.css.map */