body {
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}

.close-door {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgb(245, 114, 114);
  transform: translateX(100%);
  transition: .5s;
}

.close-door.active {
  transform: translateX(0);
}

.back {
  position: fixed;
  top: 0;
  left: 20px;
  cursor: pointer;
  z-index: 4;
}
.about{
  position: fixed;
  top: 0;
  right: 20px;
  cursor: pointer;
  z-index: 4;
}

.header {
  width: 100%;
  height: 100%;
  background: rgb(245, 76, 76);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  h1 {
    position: absolute;
    top: 41%;
    left: 5.5%;
    font-size: 10rem;
    z-index: 1;
    transition: .5s;
  }

  .img-wrap {
    width: 700px;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: 470px;
    transform: scale(1.2);
    margin-top: 25.5%;
  }
}

.contents {
  width: 100%;
  height: 3600px;
  position: absolute;
  left: 0;
  bottom: -3600px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);

  .content {
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;

    .about-project {
      p:first-child {
        font-weight: bold;
        font-size: 1rem;
      }

      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.3rem;
        font-weight: 300;
        white-space: pre-line;
      }

      a {
        display: block;
        text-decoration: none;
        color: #000;
      }
    }

    .gif {
      width: 100%;
      display: block;
      padding-top: 200px;

      p{
        font-size: 1rem;
        font-weight: bold;
      }
      img {
        width: 100%;
      }
    }
  }

  .info {
    position: absolute;
    top: 420px;
    right: 20%;

    ul {
      font-size: 1rem;

      li {
        list-style: none;
        font-size: 1.2rem;
        font-weight: 300;
      }

      li:first-child {
        padding-top: 30px;
      }
    }
  }

  .visual {
    margin-top: 200px;

    h1 {
      font-size: 4rem;
    }

    p {
      font-weight: 300;
      font-size: 1.3rem;
    }

    p:nth-of-type(2) {
      padding-top: 100px;
      font-weight: bold;
      font-size: 1rem;
    }

    h2 {
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 5rem;
      white-space: pre-line;
      padding-top: 20px;
      margin: 0;
    }

    ul {
      position: absolute;
      bottom: 27%;
      right: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      >p {
        font-weight: bold;
        font-size: 1rem;
      }

      li {
        list-style: none;
        width: 500px;
        height: 60px;
        border-radius: 10px;

        >p {
          font-size: 1rem;
          font-weight: 300;
          color: #fff;
          padding-left: 20px;
        }
      }

      li:nth-of-type(1) {
        margin-top: 50px;
        border: 1px solid #ddd;

        >p {
          color: #000;
        }
      }

      li:nth-of-type(2) {
        margin-top: 10px;
        border: 1px solid #1b1b1b;
        background: #1b1b1b;
      }

      li:nth-of-type(3) {
        margin-top: 10px;
        border: 1px solid #000;
        background: #000;
      }

      li:nth-of-type(4) {
        margin-top: 10px;
        border: 1px solid #00409A;
        background: #00409A;
      }

      li:nth-of-type(5) {
        margin-top: 10px;
        border: 1px solid #F9BE00;
        background: #F9BE00;

      }
    }
  }

  .mobile {
    padding-top: 200px;
    display: inline-block;
p{
  font-weight: bold;
  font-size: 1rem;
}
    .mobile-gif {
      padding-top: 50px;
      width: 400px;
      img {
        width: 100%;
        height: 700px;
        border-radius: 30px;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 1000px;
  position: fixed;
  left: 0;
  bottom: -1000px;
  background: rgb(76, 115, 245);
  z-index: -1;

  .img-wrap {
    width: 700px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 470px;
      transform: scale(1.2);
      margin-top: 30%;
      z-index: 1;
    }
  }

  span {
    position: absolute;
    bottom: 10%;
    left: 45%;

    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      font-size: 2rem;
    }
  }
}