body {
  overflow: hidden;
  background: #000;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.loader {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 10;
  transition: .5s;
  animation: loader 2.5s forwards;

  h1 {
    font-size: 5rem;
    white-space: pre-line;
    color: #fff;
  }
}

.loader.active {
  opacity: 0;
}

@keyframes loader {
  0% {
    opacity: 0;
    top: 50%;
  }

  80% {
    opacity: 1;
    top: 20%;
  }

  100% {
    opacity: 0;
    top: 20%;
  }
}

.header {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  opacity: 0;

  a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.wrap {
  position: relative;
  top: 0;
  right: 0;
  animation: loading 2s forwards;
}

@keyframes loading {
  0% {
    top: -400%;
  }

  100% {
    top: 0;
  }
}

.n {
  width: 60%;
  position: absolute;
  top: 200px;
  right: 21%;
  display: flex;
  justify-content: space-between;
  align-items: middle;
  transition: .2s;

  .texts {
    opacity: 0;
    transition: 1s;

    h1 {
      font-size: 4.6rem;
    }

    h1.active {
      opacity: 0;
    }

    p {
      white-space: pre-line;
      font-size: .9rem;
    }

    a {
      color: #000;
      text-decoration: none;
      font-weight: bold;
      font-size: .8rem;
    }
  }

  .img-wrap {
    width: 46%;
    clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
    animation: polygons 8s alternate infinite;
    transition: .5s;
    cursor: pointer;

    img {
      width: 100%;
      height: 360px;
      filter: grayscale(100%);
    }
  }

  img.active {
    opacity: 0;
  }

  @keyframes polygons {
    25% {
      clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
    }

    50% {
      clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
    }

    75% {
      clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
    }
  }
}

.n.active {
  img {
    filter: none;
  }
}

.n1 {
  top: 700px;
}

.n2 {
  top: 1200px;
}

.n3 {
  top: 1700px;
}

.n4 {
  top: 2200px;
}

.spot-wrap {
  transition: .5s;

  .spot {
    width: 700px;
    height: 470px;
    position: absolute;
    top: 25%;
    right: 9%;
    transition: .5s;
    opacity: 0;
    z-index: -1;
  }
}

.spot.active {
  opacity: 1;
  z-index: 3;
  transform: translateX(-62.4%) translateY(-13.3%) scale(1.2);
}

.description {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);

  .descript {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .5s;

    h3 {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  .d0 {
    background: rgb(245, 76, 76);
  }

  .d1 {
    background: rgb(76, 115, 245);
  }

  .d2 {
    background: rgb(245, 228, 76);
  }

  .d3 {
    background: rgb(163, 76, 245);
  }

  .d4 {
    background: rgb(76, 245, 223);
  }
}

.descript.active {
  transform: translateX(1%);
}

.descript.fullPage {
  transform: translateX(100%);
}

.about {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .5s;
  background: #1b1b1b;
  transform: translateX(100%);

  .fix {
    width: 50%;
    height: 3000px;
    background: #a6937c;
    position: fixed;
    left: 0;
    top: 0;
  }
}

.about.active {
  transform: translateX(99%);
}

.about.fullPage {
  transform: translateX(0);
}

.nav {
  position: fixed;
  right: 3%;
  top: 50.4%;
  opacity: 0;
  transition: .3s;

  li {
    font-size: .9rem;
    padding-bottom: 11%;
    list-style: none;
    color: gray;
    transition: .3s;
    cursor: pointer;
  }

  li:hover {
    color: #fff;
  }
}

.indi {
  position: fixed;
  right: 2%;
  top: 50%;
  width: .8%;
  height: 13.4%;
  list-style: none;
  padding: 0;
  opacity: 0;
  transition: .5s;

  li {
    width: 6px;
    height: 14px;
    position: absolute;
    right: 0;
    border-radius: 20%;
    background: gray;
    cursor: pointer;
  }

  li:nth-of-type(1) {
    top: 5%;
  }

  li:nth-of-type(2) {
    top: 27%;
  }

  li:nth-of-type(3) {
    top: 49%;
  }

  li:nth-of-type(4) {
    top: 71%;
  }

  li:nth-of-type(5) {
    top: 92%;
  }

  li:nth-of-type(1).active {
    background: rgb(245, 76, 76);
  }

  li:nth-of-type(2).active {
    background: rgb(76, 115, 245);
  }

  li:nth-of-type(3).active {
    background: rgb(245, 228, 76);
  }

  li:nth-of-type(4).active {
    background: rgb(163, 76, 245);
  }

  li:nth-of-type(5).active {
    background: rgb(76, 245, 223);
  }
}