body {
  overflow: hidden;
  background: #000;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.loader {
  position: absolute;
  top: 100%;
  left: 10%;
  z-index: 10;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-animation: loader 2.5s forwards;
          animation: loader 2.5s forwards;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.loader h1 {
  font-size: 5vw;
  white-space: pre-line;
  color: #fff;
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
    top: 100%;
  }
  80% {
    opacity: 1;
    top: 20%;
  }
  100% {
    opacity: 0;
    top: 20%;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
    top: 100%;
  }
  80% {
    opacity: 1;
    top: 20%;
  }
  100% {
    opacity: 0;
    top: 20%;
  }
}

.about {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
  background: #1b1b1b;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.about .fix {
  width: 50%;
  height: 100vh;
  background: #a6937c;
  position: fixed;
  left: 0;
  top: 0;
}

.about.active {
  -webkit-transform: translateX(99%);
          transform: translateX(99%);
}

.about.fullPage {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.header a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2vw;
}

.wrap {
  position: relative;
  top: -400%;
  right: 0;
  -webkit-animation: loading 2s forwards;
          animation: loading 2s forwards;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

@-webkit-keyframes loading {
  0% {
    top: -400%;
  }
  100% {
    top: 0;
  }
}

@keyframes loading {
  0% {
    top: -400%;
  }
  100% {
    top: 0;
  }
}

.n {
  width: 60%;
  position: absolute;
  top: 200px;
  right: 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.n .texts {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.n .texts h1 {
  font-size: 4.6vw;
}

.n .texts p {
  white-space: pre-line;
  font-size: 1vw;
}

.n .texts a {
  text-decoration: none;
  width: 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.n .texts a p {
  color: #000;
  font-weight: bold;
  font-size: .9vw;
}

.n .texts a img {
  width: 20%;
  height: 20%;
  -webkit-transition: .5s;
  transition: .5s;
}

.n .img-wrap {
  width: 46%;
  -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
          clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
  -webkit-animation: polygons 8s infinite;
          animation: polygons 8s infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.n .img-wrap img {
  width: 100%;
  height: 360px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.n img.active {
  opacity: 0;
}

@-webkit-keyframes polygons {
  25% {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
            clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
  }
  50% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
            clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
  }
  75% {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
            clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
  }
}

@keyframes polygons {
  25% {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
            clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
  }
  50% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
            clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
  }
  75% {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
            clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
  }
}

.n.active img {
  -webkit-filter: none;
          filter: none;
}

.n1 {
  top: 700px;
}

.n2 {
  top: 1200px;
}

.n3 {
  top: 1700px;
}

.n4 {
  top: 2200px;
}

.spot-wrap {
  -webkit-transition: .5s;
  transition: .5s;
}

.spot-wrap .spot {
  width: 40%;
  height: 50vh;
  position: absolute;
  top: 25%;
  right: 9%;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  z-index: -1;
}

.spot.active {
  opacity: 1;
  z-index: 3;
  -webkit-transform: translateX(-52%) translateY(-18%) scale(1.2);
          transform: translateX(-52%) translateY(-18%) scale(1.2);
}

.description {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.description .descript {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.description .d0 {
  background: #f54c4c;
}

.description .d1 {
  background: #4c73f5;
}

.description .d2 {
  background: #f5e44c;
}

.description .d3 {
  background: #a34cf5;
}

.description .d4 {
  background: #4cf5df;
}

.descript.active {
  -webkit-transform: translateX(1%);
          transform: translateX(1%);
}

.descript.fullPage {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav {
  position: fixed;
  right: 3.4%;
  top: 47.7%;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav li {
  font-size: 1vw;
  list-style: none;
  color: gray;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.nav li:hover {
  color: #fff;
}

.indi {
  position: fixed;
  right: 2%;
  top: 48%;
  width: .8%;
  height: 13.4%;
  list-style: none;
  padding: 0;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.indi li {
  width: .5vw;
  height: 2vh;
  margin-bottom: 50%;
  border-radius: 20%;
  background: gray;
  cursor: pointer;
}

.indi li:nth-of-type(1).active {
  background: #f54c4c;
}

.indi li:nth-of-type(2).active {
  background: #4c73f5;
}

.indi li:nth-of-type(3).active {
  background: #f5e44c;
}

.indi li:nth-of-type(4).active {
  background: #a34cf5;
}

.indi li:nth-of-type(5).active {
  background: #4cf5df;
}

@media (max-width: 1440px) {
  body {
    background: #000;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .loader {
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: 10;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-animation: loader 2.5s forwards;
            animation: loader 2.5s forwards;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  .loader h1 {
    font-size: 5vw;
    white-space: pre-line;
    color: #fff;
  }
  @-webkit-keyframes loader {
    0% {
      opacity: 0;
      top: 100%;
    }
    80% {
      opacity: 1;
      top: 20%;
    }
    100% {
      opacity: 0;
      top: 20%;
    }
  }
  @keyframes loader {
    0% {
      opacity: 0;
      top: 100%;
    }
    80% {
      opacity: 1;
      top: 20%;
    }
    100% {
      opacity: 0;
      top: 20%;
    }
  }
  .about {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s;
    background: #1b1b1b;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .about .fix {
    width: 50%;
    height: 100vh;
    background: #a6937c;
    position: fixed;
    left: 0;
    top: 0;
  }
  .about.active {
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  .about.fullPage {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
  }
  .header a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2vw;
  }
  .wrap {
    position: relative;
    top: -400%;
    right: 0;
    -webkit-animation: loading 2s forwards;
            animation: loading 2s forwards;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  @-webkit-keyframes loading {
    0% {
      top: -400%;
    }
    100% {
      top: 0;
    }
  }
  @keyframes loading {
    0% {
      top: -400%;
    }
    100% {
      top: 0;
    }
  }
  .n {
    width: 60%;
    position: absolute;
    top: 150px;
    right: 21%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .n .texts {
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .n .texts h1 {
    font-size: 4.6vw;
  }
  .n .texts p {
    white-space: pre-line;
    font-size: 1vw;
  }
  .n .texts a {
    text-decoration: none;
    width: 26%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .n .texts a p {
    color: #000;
    font-weight: bold;
    font-size: .9vw;
  }
  .n .texts a img {
    width: 20%;
    height: 20%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .n .img-wrap {
    width: 46%;
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
            clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
    -webkit-animation: polygons 8s infinite;
            animation: polygons 8s infinite;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
  }
  .n .img-wrap img {
    width: 100%;
    height: 260px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .n img.active {
    opacity: 0;
  }
  @-webkit-keyframes polygons {
    25% {
      -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
              clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
    }
    50% {
      -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
              clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
    }
    75% {
      -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
              clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
    }
  }
  @keyframes polygons {
    25% {
      -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
              clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
    }
    50% {
      -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
              clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
    }
    75% {
      -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
              clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0 90%);
    }
  }
  .n.active img {
    -webkit-filter: none;
            filter: none;
  }
  .n1 {
    top: 550px;
  }
  .n2 {
    top: 950px;
  }
  .n3 {
    top: 1350px;
  }
  .n4 {
    top: 1750px;
  }
  .spot-wrap {
    -webkit-transition: .5s;
    transition: .5s;
  }
  .spot-wrap .spot {
    width: 48%;
    height: 60vh;
    position: absolute;
    top: 18%;
    right: 9%;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    z-index: -1;
  }
  .spot.active {
    opacity: 1;
    z-index: 3;
    -webkit-transform: translateX(-35%) translateY(-14%) scale(1);
            transform: translateX(-35%) translateY(-14%) scale(1);
  }
  .description {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .description .descript {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .description .d0 {
    background: #f54c4c;
  }
  .description .d1 {
    background: #4c73f5;
  }
  .description .d2 {
    background: #f5e44c;
  }
  .description .d3 {
    background: #a34cf5;
  }
  .description .d4 {
    background: #4cf5df;
  }
  .descript.active {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  .descript.fullPage {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav {
    position: fixed;
    right: 3.4%;
    top: 47.7%;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .nav li {
    font-size: 1vw;
    list-style: none;
    color: gray;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
  }
  .nav li:hover {
    color: #fff;
  }
  .indi {
    position: fixed;
    right: 2%;
    top: 48%;
    width: .8%;
    height: 13.4%;
    list-style: none;
    padding: 0;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .indi li {
    width: .5vw;
    height: 2vh;
    margin-bottom: 50%;
    border-radius: 20%;
    background: gray;
    cursor: pointer;
  }
  .indi li:nth-of-type(1).active {
    background: #f54c4c;
  }
  .indi li:nth-of-type(2).active {
    background: #4c73f5;
  }
  .indi li:nth-of-type(3).active {
    background: #f5e44c;
  }
  .indi li:nth-of-type(4).active {
    background: #a34cf5;
  }
  .indi li:nth-of-type(5).active {
    background: #4cf5df;
  }
}

@media (max-width: 1024px) {
  body {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 10;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-animation: loader 2.5s forwards;
            animation: loader 2.5s forwards;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  .loader h1 {
    font-size: 4vw;
    white-space: pre-line;
    color: #fff;
  }
  @-webkit-keyframes loader {
    0% {
      opacity: 0;
      top: 50%;
      left: 10%;
    }
    80% {
      opacity: 1;
      top: 50%;
      left: 30%;
    }
    100% {
      opacity: 0;
      top: 50%;
      left: 100%;
    }
  }
  @keyframes loader {
    0% {
      opacity: 0;
      top: 50%;
      left: 10%;
    }
    80% {
      opacity: 1;
      top: 50%;
      left: 30%;
    }
    100% {
      opacity: 0;
      top: 50%;
      left: 100%;
    }
  }
  .header {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
  }
  .header a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2vw;
  }
  .wrap {
    width: 4300px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 10%;
    -webkit-animation: loading 2s forwards;
            animation: loading 2s forwards;
    -webkit-transition: .5s linear;
    transition: .5s linear;
  }
  @-webkit-keyframes loading {
    0% {
      top: 100px;
      left: 100%;
      opacity: 0;
    }
    100% {
      top: 100px;
      left: 10%;
      opacity: 1;
    }
  }
  @keyframes loading {
    0% {
      top: 100px;
      left: 100%;
      opacity: 0;
    }
    100% {
      top: 100px;
      left: 10%;
      opacity: 1;
    }
  }
  .n {
    width: 800px;
    height: 100vh;
    padding-top: 2%;
    position: static;
    display: inline-block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 50px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .n .texts {
    -webkit-transition: 1s;
    transition: 1s;
    position: absolute;
    top: 40%;
    left: 8%;
    text-align: left;
    opacity: 0;
  }
  .n .texts h1 {
    font-size: 12vw;
    margin: 30% 0 0 0;
  }
  .n .texts p {
    white-space: pre-line;
    font-size: 2vw;
  }
  .n .texts a {
    text-decoration: none;
    width: 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .n .texts a p {
    color: #000;
    font-weight: bold;
    font-size: 1vw;
  }
  .n .texts a img {
    width: 16%;
    height: 10%;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
  }
  .n .img-wrap {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-animation: polygons 8s infinite;
            animation: polygons 8s infinite;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
  }
  .n .img-wrap img {
    width: 100%;
    height: 500px;
    -webkit-filter: none;
            filter: none;
  }
  .n img.active {
    opacity: 0;
  }
  @-webkit-keyframes polygons {
    25% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    50% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  @keyframes polygons {
    25% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    50% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  .texts:first-child {
    opacity: 1;
  }
  .n:last-child {
    margin-right: 0;
  }
  .n.active img {
    -webkit-filter: none;
            filter: none;
  }
  .n1 {
    top: 100px;
  }
  .n2 {
    top: 100px;
  }
  .n3 {
    top: 100px;
  }
  .n4 {
    top: 100px;
  }
  .spot-wrap {
    -webkit-transition: .5s;
    transition: .5s;
  }
  .spot-wrap .spot {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 200px;
    right: 12%;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    z-index: -1;
  }
  .spot.active {
    opacity: 1;
    z-index: 3;
    -webkit-transform: translateX(0) translateY(0%) scale(1);
            transform: translateX(0) translateY(0%) scale(1);
  }
  .description {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .description .descript {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .description .descript h3 {
    margin-left: 20px;
    cursor: pointer;
  }
  .description .d0 {
    background: #f54c4c;
  }
  .description .d1 {
    background: #4c73f5;
  }
  .description .d2 {
    background: #f5e44c;
  }
  .description .d3 {
    background: #a34cf5;
  }
  .description .d4 {
    background: #4cf5df;
  }
  .descript.active {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  .descript.fullPage {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .about {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s;
    background: #1b1b1b;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .about .fix {
    width: 50%;
    height: 3000px;
    background: #a6937c;
    position: fixed;
    left: 0;
    top: 0;
  }
  .about.active {
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  .about.fullPage {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav {
    position: fixed;
    right: 3.4%;
    top: 47.7%;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    display: none;
  }
  .nav li {
    list-style: none;
    color: gray;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
  }
  .nav li:hover {
    color: #fff;
  }
  .indi {
    position: fixed;
    left: 50%;
    top: 1%;
    width: .8%;
    height: 13.4%;
    list-style: none;
    padding: 0;
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 1;
  }
  .indi li {
    width: 6px;
    height: 14px;
    margin-bottom: 200%;
    border-radius: 20%;
    background: #fff;
    cursor: pointer;
  }
  .indi li:nth-of-type(1).active {
    background: #f54c4c;
  }
  .indi li:nth-of-type(2).active {
    background: #4c73f5;
  }
  .indi li:nth-of-type(3).active {
    background: #f5e44c;
  }
  .indi li:nth-of-type(4).active {
    background: #a34cf5;
  }
  .indi li:nth-of-type(5).active {
    background: #4cf5df;
  }
}
/*# sourceMappingURL=portfolio.css.map */